ENV=development
DB_IP=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DATABASE=test5
SECRET_KEY=+HVNfKtoQ0MnwD0/LO7qtzQs0NPghVI7k3YnVveYJ08=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=123
TOKEN_EXPIRATION_TIME=3600
ADMIN_PASSWORD=BacZ5z3qsegLGwcr

SKYPE_USERNAME="user"
SKYPE_PASSWORD="password"

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME="admin"
RABBITMQ_PASSWORD="admin"
RABBITMQ_EXCHANGE="skype_direct"
RABBITMQ_QUEUE="skype_direct_send_message_to_group_queue"
RABBITMQ_TOPIC="skype.send_mesage_to_group"
RABBITMQ_LOG_FILE="./skype.log"

AUTH_SERVICE_URL='http://auth:5000/v1/token/validate'
