ENV=development
DB_IP=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DATABASE=test5
SECRET_KEY=+HVNfKtoQ0MnwD0/LO7qtzQs0NPghVI7k3YnVveYJ08=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=123
TOKEN_EXPIRATION_TIME=3600
ADMIN_PASSWORD=BacZ5z3qsegLGwcr
LOGIN_SERVICE_URL='http://localhost:5000/api/v1/token/validate'