SKYPE_USERNAME="user"
SKYPE_PASSWORD="password"
RABBITMQ_HOST="RabbitMQ IP"
RABBITMQ_PORT="RabbitMQ Port"
RABBITMQ_USERNAME="RabbitMQ Username"
RABBITMQ_PASSWORD="RabbitMQ Password"
RABBITMQ_EXCHANGE="RabbitMQ Exchange name"
RABBITMQ_QUEUE="RabbitMQ durable Queue name"
RABBITMQ_TOPIC="RabbitMQ Topic name"
RABBITMQ_LOG_FILE="RabbitMQ log file"